/* Default */
.gr-button {
  appearance: none;
  outline: none;
  border: 1px solid transparent;
  border-radius: var(--cornerRadius);
  padding: 0 28px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.gr-button:not(.gr-button--loading) {
  cursor: pointer;
}

.gr-button__background {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  transition: filter 0.25s;
}

.gr-button:hover:not(.gr-button--loading) .gr-button__background {
  filter: brightness(80%);
}

.gr-button:active:not(.gr-button--loading) {
  transform: scale(0.97) translateY(1px);
}

.gr-button__label {
  position: relative;
  z-index: 1;
  user-select: none;
}

/* Status */
.gr-button--disabled {
  pointer-events: none;
  opacity: 0.4;
}

.gr-button--loading {
  pointer-events: none;
}

/* Sizes */
.gr-button--large {
  height: 58px;
}

.gr-button--medium {
  height: 48px;
}

.gr-button--small {
  height: 38px;
}

/* Styles and priority */
.gr-button--boxed.gr-button--primary .gr-button__background {
  background-color: var(--primary);
}

.gr-button--boxed.gr-button--primary .gr-button__label {
  color: white;
}

.gr-button--outline .gr-button__label {
  color: var(--primary);
}

.gr-button ::slotted([slot=leading-icon]), .gr-button ::slotted([slot=trailing-icon]) {
  color: white;
  z-index: 1;
  position: relative;
  font-size: 20px;
}