.gr-button {
  appearance: none;
  outline: none;
  border: 1px solid transparent;
  border-radius: var(--cornerRadius);
  padding: 0 28px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(&--loading) {
    cursor: pointer;
  }

  &__background {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    transition: filter 0.25s;
  }

  &:hover:not(&--loading) &__background {
    filter: brightness(80%);
  }

  &:active:not(&--loading) {
    transform: scale(0.97) translateY(1px);
  }

  &__label {
    position: relative;
    z-index: 1;
    user-select: none;
  }

  // Status modifier
  
  &--disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  // Priority modifier
  
  &--primary &__background {
    background-color: var(--primary);
    border-color: var(--primary);
  }

  &--secondary &__background {
    background-color: var(--secondary);
    border-color: var(--secondary);
  }

  &--tertiary &__background {
    background-color: var(--tertiary);
    border-color: var(--tertiary);
  }

  // Size modifier
  
  &--large {
    height: 58px;
  }

  &--medium {
    height: 48px;
  }

  &--small {
    height: 38px;
  }

  // Style modifier

  &--boxed {

    .gr-button__label {
      color: white;
    }
    
  }

  &--outline {
  }

  &--negative {
  }

  &--inline {
  }

  // Content

  &__leading-icon, &__trailing-icon {
    color: white;
    z-index: 1;
    position: relative;
  }
  
}