.gr-loader {
  display: flex;
  align-items: center;
  justify-content: center;

  &__indicator {
    display: inline-block;
    pointer-events: none;
    user-select: none;
    border-radius: 50%;
    border-style: solid;
    animation: gr-loader-indicator linear 0.7s infinite;
  }

  @keyframes gr-loader-indicator {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
  }
  
}